@import url('https://fonts.googleapis.com/css2?family=pt+sans:ital,wght@0,400;0,700;1,400;1,700&family=quicksand:wght@300..700&display=swap');
:root {
  font-family: "PT-Sans", sans-serif; 
  --background-color: #F1F2F4;
  --outline-color: #101214;
  --text-color: #101214;
  --hover-background-color: #EFF6FF;
  --hover-stroke-color: #2D68FE;
  --active-color: #cfe4ff;
  --selected-color: #2D68FE;
}

:root[theme="darkmode"] {
  --background-color: #22272B;
  --outline-color: #B6C2CF;
  --text-color: #DEE4EA;
  --hover-background-color: #282E33;
  --hover-stroke-color: #2D68FE;
  --active-color: #38414A;
  --selected-color: #2D68FE;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, bottom-border-color 0.3s ease, fill 0.3s ease;
}
