:root {
  --background-color: #F1F2F4;
  --outline-color: #101214;
  --text-color: #101214;
  --hover-background-color: #EFF6FF;
  --hover-stroke-color: #2D68FE;
  --active-color: #cfe4ff;
  --selected-color: #2D68FE;
}

:root[theme="darkmode"] {
  --background-color: #22272B;
  --outline-color: #B6C2CF;
  --text-color: #DEE4EA;
  --hover-background-color: #282E33;
  --hover-stroke-color: #2D68FE;
  --active-color: #38414A;
  --selected-color: #2D68FE;
}

* {
  transition: background-color 0.5s ease, color 0.5s ease, bottom-border-color 0.5s ease;
}
